*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    background: #f2f2f2;
    margin: 0;
    padding: 0;
}

/*Registrer----------------------------------------------------------------------------------*/
.registerlog{
    background-color: #f2f2f2;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto Condensed', sans-serif;

}

#logDone{
    background-color: #f2f2f2;

}

.registerlog h1{
    color: #2d2928;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 50px;
    padding: 45px;
}
h2, h3{
    color: white;
    text-align: center;
}
label{
    color: white;
    font-size: 20px;

}
.reg{
    width: 40%;
    margin: auto;
    background-color: rgba(0,0,0,0.7);
    padding:30px;
    text-align: center;
    margin-bottom: 150px;
}
#reg{
    width: 60%;
    margin: auto;
}

#modif{
    width: 60%;
    margin: auto;
}

#reg input{
    width: 300px;
    outline: 0;
    padding: 5px;
    border: 3px solid #9fabb6;
    border-radius: 3px;
}

#sub{
    width: 200px;
    outline: 0;
    padding: 5px;
    border: 3px solid #9fabb6;
    color:white;
    font-size: 18px;
    font-style: italic;
    background-color: #487948;
    border-radius: 3px;

}
#reglink {
    color: indianred;
    font-style: italic;
}

#loginDONE {

    padding-top: 300px;
    padding-bottom: 300px;
    font-size: 75px;
    color: #2d2928;

}

/*HEADER----------------------------------------------------------------------------------*/

nav{
    background: #2d2928;
}
nav:after{
    content: '';
    clear: both;
    display: table;
}
nav .logo{
    float: left;
    color:white;
    font-size: 40px;
    font-weight: 600;
    line-height: 90px;
    padding-left: 100px;

}
nav ul{
    float: right;
    list-style: none;
    margin-right: 100px;
    position: relative;
}
nav ul li{
    float: left;
    display: inline-block;
    background: #2d2928;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    line-height: 90px;
    font-size: 22px;
    padding: 8px 20px;
}
nav ul li a:hover{
    color: #a62825;
}
nav ul ul li a:hover{
    color:#a62825;
    box-shadow: none;
}
nav ul ul{
    position: absolute;
    top: 90px;
    border-top: 3px solid #821e1c;
    opacity: 0;
    visibility: hidden;
    transition: top .2s;
}
nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
}
nav ul ul li{
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}
nav ul ul li a{
    line-height: 50px;
}

/*CATEGORI CARDS----------------------------------------------------------------------------------*/

h1{
    color: black;
    text-align: center;
    font-size: 70px;
    padding: 80px;
    font-weight: 600;
    line-height: 90px;
}

.container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: 10em;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
}

.container a{
    text-decoration: none;
}

.item-card{
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.095);
    transition: all 300ms;
    position: relative;
}

.item-card::after{
    content: "";
    background-color: rgba(179,229,252,.1);
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    transform: scale(0);
    transition: all 300ms;
    opacity: 0;
}

.item-card:hover:after{
    opacity: 1;
    transform: scale(1);
}

.item-card:hover {
    transform: scale(1.05);
}

.item-text{
    padding: 1em;
}

h6{
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    padding-top: 5px;
}

.item-img{
    max-width: 100%;
    display: block;
}

@media screen and (min-width: 590px) {
    .container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 960px) {
    .container{
        grid-template-columns: repeat(3, 1fr);
    }
}

/*GUITARS CARDS----------------------------------------------------------------------------------*/


.guitar-card{
    background-color: #f2f2f2;
    cursor: pointer;
    transition: all 300ms;
    position: relative;
}

.guitar-card img{

    display: block;
    margin: auto;
    padding-top: 5px;
    width: 35%;
    height: 25vw;
    object-fit: cover;
}

.guitar-card::after{
    content: "";
    background-color: rgba(179,229,252,.1);
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    transform: scale(0);
    transition: all 300ms;
    opacity: 0;
}

.guitar-card:hover {
    transform: scale(1.05);
}


/*GUITAR DETAIL PAGE----------------------------------------------------------------------------------*/

.container-detail {
    height: 90vh;
    width: 80vw;
    border-radius: 20px;
    justify-content: center;
    display: flex;
    align-items: center ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.card-detail {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    display: flex;
    box-shadow: 0 0 10px 1px rgba(0,0,0,.2);
}

.card-detail .infos-detail #detail-title {
    font-size: 70px;
    font-weight: bold;
    font-family: "Roboto Condensed", sans-serif;
    margin-top: 100px;
    margin-bottom: -10px;
}

.card-detail .images-detail,
.card-detail .infos-detail{
    width: 100%;
}

.infos-detail .price-detail{
    display: flex;
    width: 40%;
}

.infos-detail .price-detail p{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    margin-bottom: -30px;
}

.infos-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
}

.infos-detail h1{
    font-size: 40px;
    text-align: center;
}

.description-detail {
    font-size: 22px;
    font-family: "Roboto Condensed", sans-serif ;
    padding-bottom: 1px;
    word-spacing: 7px;
    line-height: 35px;
}

.quantity-detail input{
    width: 65px;
    outline: 0;
    text-align: center;
    padding: 5px;
    border: 2px solid #2d2928;
    border-radius: 5px;
    margin-bottom: 45px;
}

.buttons-detail{
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.buttons-detail button{
    width: 45%;
    font:inherit;
    border: 2px solid #2d2928;
    border-radius: 25px;
    background-color: #f2f2f2;
    font-weight: bold;
    font-size: 20px;
}

.buttons-detail button:nth-child(1) i {
    margin-right: 10px;
}

.buttons-detail button:hover {
    color: #f2f2f2;
    background-color: #821e1c;
}

.slider-detail {
    height: 100%;
    display: flex;
    align-items: center;
}

.slider-detail img{
    margin: auto;
    display: block;
    padding-top: 5px;
    width: 40%;
    height: 40vw;
    object-fit: cover;
}
/*Shopping Cart items----------------------------------------------------------------------------------*/

.cart-page{
    margin: 50px 200px 270px;

}

table{
    width: 100%;
    border-collapse: collapse;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 15px;
    color: white;
    background: #821e1c;
    font-weight: normal;
    font-size: 22px;
}

td{
    padding: 25px 5px;
}

td input{
    width: 45px;
    outline: 0;
    text-align: center;
    padding: 5px;
    border: 2px solid #2d2928;
    border-radius: 5px;
}

.cart-info p{
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: bold;
}

.cart-info small{
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

td a{
    color: red;
    font-size: 20px;
    margin-top: 5px;
    font-weight: bold;
}

.product-price{
    font-size: 22px;
    font-weight: bold;
}

td img{
    width: 80px;
    height: 170px;
    margin-right: 10px;
}

.total-price{
    display: flex;
    justify-content: flex-end;
    font-size: 22px;
    font-weight: bold;
}

.total-price table{
    border-top: 5px solid #821e1c;
    width: 100%;
    max-width: 600px;
}

td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}

.cartbuttons-detail{
    margin-top: 60px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.cartbuttons-detail button{
    width: 20%;
    font:inherit;
    border: 2px solid #2d2928;
    border-radius: 25px;
    background-color: #f2f2f2;
    font-weight: bold;
    font-size: 20px;
}

.cartbuttons-detail button:nth-child(1) i {
    margin-right: 10px;
}

.cartbuttons-detail button:hover{
    color: #f2f2f2;
    background-color: #821e1c;
}

/*MY ORDERS-------------------------------------------------------------------------------*/

.order-number p{
    width: 45px;
    outline: 0;
    text-align: center;
    padding: 5px;
    border: 2px solid #2d2928;
    border-radius: 5px;
    font-weight: bold;
}


.order-date{
    font-size: 22px;
    font-weight: bold;
    margin-left: 5px;
    margin-bottom: 10px;
}

/*Confirmed Buy-------------------------------------------------------------------------------*/

.confirmedBuy {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 100px;
    margin-top: 100px;
    font-style: italic;
}
/*Profile-------------------------------------------------------------------------------*/

.profile-img {
    width: 175px;
    padding-bottom: 10px;
    clip-path: circle();
}


/*FOOTER----------------------------------------------------------------------------------*/

footer{
    left: 0;
    bottom: 0;
    width: 100%;
    background: #2d2928;
    display: block;
}

.inner-footer{
    width: 100%;
    margin: auto;
    padding: 25px 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}

.footer-items{
    width: 25%;
    padding: 10px 50px;
    box-sizing: border-box;
}

h4{
    padding: 10px 0;
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
}

.footer-items p{
    color: grey;
    font-size: 16px;
    text-align: justify;
    line-height: 25px;
}

h5{
    margin: 10px 0;
    color: grey;
    font-size: 16px;
    font-weight: lighter;
    text-transform: uppercase;
}

.border{
    height: 2px;
    width: 40px;
    background: #a62825;
}

footer ul{
    list-style: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.5px;
}

footer ul li a{
    text-decoration: none;
    outline: none;
    color: #fff;
    transition: 0.3s;
}

footer ul li a:hover{
    color: #a62825;
}

footer ul li{
    margin: 10px 0;
    height: 25px;
}

footer li i{
    margin-right: 20px;
}

.social-media{
    width: 100%;
    color: #fff;
    text-align: center;
}

.social-media a{
    text-decoration: none;
}

.social-media i{
    height: 15px;
    width: 15px;
    margin: 5px 15px;
    padding: 15px;
    color: #fff;
    border-radius: 50%;
    border: 1px solid grey;
    transition: 0.3s;
}

.social-media i:hover{
    background: grey;
}

.footer-bottom{
    padding: 10px;
    background: #a62825;
    color: #fff;
    font-size: 12px;
    opacity: 60%;
}

@media screen and (max-width: 1085px) {
    .footer-items {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .footer-items {
        width: 100%;
    }
}

.container-prueba{
    background-color: grey;
    display: flex;
}

.container-prueba h1{
    font-size: 22px;
    font-style: italic;
    font-family: Arial, sans-serif;
}

.container-prueba form{
    margin: auto;
}

.container-prueba form label,input{
    text-align: center;

}

.container-prueba button{
    margin-left: 100px;
}